h1{
	text-transform: uppercase;
	color: red;
	text-align: center;
}
small{
	/*color: red; text */
	/*color: #7d8a78; Hex code*/
	/*color: #f00; Short Hex code*/
	color: rgb(255,0,0);
	word-spacing: 20px;
	letter-spacing: 5px;
	font-size: 30px;
}

/*universal selector*/

*{
	margin: 0px;
	padding: 0px;
	/*color: red;*/
}

/*Tag selector / Element Selector*/

p{
	font-size: 20px;
	/*color: green;*/
}

/*Attribute Selector*/
a[target="_blank"]{
	color: black;
	text-decoration: none;
}
/*Id selector*/

#idselector{
	color: brown;
	text-indent: 60px;
}

/*Class selector*/

.classselector{
	color: pink;
	font-size: 30px;
	word-spacing: 20px;
}


/*Descendent Selector*/

.desc a{
	color: red;
	text-decoration: none;
}

/*Child Selector*/

.child > a{
	color: green;
}


/*pseudo selector*/

a:link{
	color: red;
}

a:hover{
	color: green;
}

a:active{
	color: yellow;
}
a:visited{
	color: brown;
}

/*Target Selector*/

:target{
	color: red;
	border: 1px solid green;
}


/*Register Form*/

form{
	width: 80%;
	margin: auto;
}

input[type="text"],input[type="number"]{
	width: 100%;
	border: 2px solid #ccc;
	background-color: gray;
	outline:none;
	height: 40px;
}
input[type="text"]:focus,input[type="number"]:focus{
	border: 3px solid #555;
	/*background-color: red;*/
}

div#dob_select{
	width: 90%;
	background-color: #EEE;
	border-radius: 4px;
	outline:none;
	padding: 7px;
}

div#dob_select select{
	width: 30%;
	padding: 5px;
}

input[type="radio"]:checked+label{
	color: red;
	font-weight: bold;
}

textarea#address{
	width: 100%;
	height: 100px;
	border: 2px solid #ccc;
	border-radius:5px;
	outline: none;
}



input[type="checkbox"]:enabled+label{
	color: yellow;
	font-style: italic;
}

input[type="checkbox"]:checked+label{
	color: #f00;
	font-style: normal;
}

input[type="checkbox"]:disabled+label{
	color: #fff;
}

#rule_fieldset legend{
	background-color: #ef5350;
	color: white;
	margin: 20px 0px;
}
p{
	text-indent: 30px;
}
ul li{
	line-height: 40px;
	width: 80%;
	margin-left: 50px;
}

li:first-child{
	background-color: yellow;
}
li:last-child{
	background-color: red;
}
li:nth-child(4){
	background-color: green;
}


p:empty{
	width: 100%;
	height: 20px;
	background-color: #607D8B;
}

.thankyou{
	text-align: center;
}

.borderone{
	border: 1px solid #000;
}

.bordertwo{
	border-bottom: 2px dashed red;
}

.borderthree{
	border: 2px dotted #1B5E20;
	border-radius: 10px;
}

.borderfour{
	border-left: 6px solid yellow;
	background-color: red;
}
.solid{
	border-style: dashed;
}

.mix{
	border-style: groove dotted solid dashed;
				/*top    right  bottom  left*/
}

/*margin*/

p.marginone{
	border: 1px solid black;
	margin: 15px;
	/*All Four*/
}

p.margintwo{
	border: 1px solid black;
	margin: 10px 30px;
	/*top/buttom     &    left/right*/
}

p.marginthree{
	border: 1px solid black;
	margin: 10px 5px 15px;
	/*top   &  left/right   & buttom*/
}

p.marginfour{
	border: 1px solid black;
	margin: 10px 15px 20px 5px;
	/* Top / Right / Buttom / Left*/
	/*margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-left: 5px;*/
}

/*padding*/

p.paddingone{
	border: 1px solid black;
	padding: 15px;
	/*All four*/
}

p.paddingtwo{
	border: 1px solid black;
	padding: 10px 30px;
}
p.paddingthree{
	border: 1px solid black;
	padding: 10px 5px 15px;
}
p.paddingfour{
	border: 1px solid black;
	padding: 10px 15px 20px 5px;
}

/*layout*/

a.google,a.facebook{
	border: 1px solid black;
}

p.block{
	border: 2px solid black;
	width: 400px;
}
a.inline_block{
	border: 2px solid black;
	display: inline-block;
	width: 500px;
}
/*float layout*/

div.float_left img{
	width: 40%;
	float: left;
}
.clear{
	clear: both;
}

div.float_right img{
	width: 40%;
	float: right;
}

/*Grid*/
.gridOne,.gridTwo,.gridThree,.gridFour,.gridFive,.gridSix{
	display: grid;
	grid-template-columns: auto auto auto;
}

.gridOne div ,.gridTwo div,.gridThree div,.gridFour div ,.gridFive div,.gridSix div{
	border: 1px solid #fff;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	color: #fff;
}

.gridTwo{
	grid-column-gap: 50px;
	/*column spacing*/
}
.gridThree{
	grid-row-gap: 50px;
	/*row spacing*/
}

.gridFour{
	grid-gap: 40px;
	/*row and column spaing*/
}

.gridFive .one{
	grid-column-start: 1;
	grid-column-end: 3;
}


.gridSix .two{
	grid-row-start: 1;
	grid-row-end: 3;
}


.relative_paraent{
	width: 1000px;
	height: 500px;
	border: 1px solid black;
}
.relative{
	position: relative;
	top: 50px;
	left: 200px;
	width: 300px;
	height: 100px;
	border: 1px solid black;
}

.absolute_parent{
	position: relative;
	width: 1000px;
	height: 500px;
	border: 1px solid black;
}

.absolute{
	position: absolute;
	top: 50px;
	left: 400px;
	border:1px solid yellow;
	width: 400px;
	height: 400px;
}

.fixed{
	position: fixed;
	top: 30px;
	left: 1000px;
}

/*font*/
/*online font*/
.onlinefont{
	font-family: 'Dancing Script', cursive;
}

/*offline font*/
@font-face{
	src:url(../Tourney/Tourney-Italic-VariableFont_wdth,wght.ttf);
	font-family: a;
}
.offlinefont{
	font-family: a;
}